DATABASE_URL=sakuravel:password@tcp(localhost:3306)/sakuravel?parseTime=true&charset=utf8mb4
PORT=8080

OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://host.docker.internal:4318/v1/traces
OTEL_SERVICE_NAME=sakuravel-api
#DEPLOY_ENV=production
