# 最初にこのファイルをコピーして編集します
# cp secret.auto.tfvars.example secret.auto.tfvars

# さくらのクラウド API トークン
sakura_access_token = "YOUR_SAKURA_ACCESS_TOKEN"

# さくらのクラウド API トークンシークレット
sakura_access_token_secret = "YOUR_SAKURA_ACCESS_TOKEN_SECRET"

# データベースのパスワード(データベース作成とデータベース接続時に使用)
# 1PasswordのDBパスワードからコピーします
db_password = "YOUR_DB_PASSWORD"

# VMのパスワード(ログインやsudoコマンド実行時に使用)
# 1PasswordのVMパスワードからコピーします
server_password = "YOUR_SERVER_PASSWORD"

# 取得対象のコンテナレジストリを設定する
cr_url = "YOUR_CONTAINER_REGISTRY_URL"
cr_username = "YOUR_CONTAINER_REGISTRY_USERNAME"
cr_password = "YOUR_CONTAINER_REGISTRY_PASSWORD"