# state保存用バケットを作るためだけの設定ファイル
# cp secret.auto.tfvars.example secret.auto.tfvars して編集します
# (.auto.tfvars なので、このディレクトリでの terraform 実行時に自動で読み込まれます)
#
# ../terraform/secret.auto.tfvars に同じ値を書いている場合は、
# このファイルを作らずに次のように参照しても構いません:
#   terraform apply -var-file=../terraform/secret.auto.tfvars -compact-warnings

# さくらのクラウド API トークン (../terraform/secret.auto.tfvars と同じ値)
sakura_access_token = "YOUR_SAKURA_ACCESS_TOKEN"

# さくらのクラウド API トークンシークレット (同上)
sakura_access_token_secret = "YOUR_SAKURA_ACCESS_TOKEN_SECRET"

# Terraform state を保存する Object Storage のバケット名。
# アカウント・環境ごとに一意な名前にします (3-63文字の小文字英数字・ドット・ハイフン)。
# ../terraform/secret.auto.tfvars の tfstate_bucket_name と同じ値にしてください。
tfstate_bucket_name = "YOUR_UNIQUE_TFSTATE_BUCKET"

########################################
# 以下は通常変更不要 (既定値あり)
########################################

# Object Storage のサイトID (tky01 = 東京第1サイト / isk01 = 石狩第1サイト)
# tfstate_object_storage_site = "tky01"

# 本体構成 (infra/terraform) の state を保存するオブジェクトキー
# tfstate_key = "sakuraevl/infra/terraform.tfstate"
